fastapi
uvicorn
python-multipart
celery
redis
psycopg2-binary
sqlalchemy
alembic
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
tenacity
easyocr
pytesseract
opencv-python-headless
groq
python-dotenv
aiofiles
boto3
fastapi-limiter
prometheus-fastapi-instrumentator
grafana-client
sentry-sdk
pytest
httpx
pytest-asyncio
asyncpg
